* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    text-decoration: inherit;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  body{
    background-color: #ebebeb;
  }
    
.logo{
 width: 50%;
 max-width: 300px;
}
.logo-buscador{
display: flex;
align-items: center;
justify-content: space-around;

}


header{
    background-color: #EAC926;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
      
}

.input{
  width: 70%;
  height: 35px;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
}

.buscador{
  display: flex;
  background-color: #ffffff;
  width: 35%;
  height: 35px;
  border-radius: 0px 3px 3px 0px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.textodemenu{
    font-size: 12px;
    text-align: center;
    margin: 10px;
}


.banner{
    width: 100%;
     
}

.nav-bar{
    display: none;
}

.lista-left {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-rigth{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    margin-top: 5px;
}


main{
    
    align-content: center;  /* centrar la sección main y que ocupe un 90% del ancho de la pantalla.*/
    padding: 0 5vw;
}  

h3{
    font-size: 24px; 
    text-align: left;  /* Titulares (Basado en tu última visita/Ofertas): 24px */
    color: #666;
}

footer h3{
    text-align: center; /* Texto de pie de pagina centrado*/
}


main section article{
    background-color: white;
    margin: 10px 0;
       
}

.textoproducto{
    border-top: solid #ebebeb 1px;
    padding: 15px;
    position: relative;
   
}


main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
   

.fa-truck{
    color: #39b54a;
    border-radius: 100%;
    border: solid #39b54a 1px; 
    padding: 5px;
}

.precios{
    font-size: 18px;   /* Precios: 18px */
    flex-grow: 0.3;
}
main .porcentaje{
    font-size: 16px;
    color:#39b54a; /* Descuentos: 16px */
    flex-grow: 0.7;
}
.descripciones{
    font-size: 16px;/* Descripciones: 16px */
}

.lateral{
 display: flex;
 align-items: center;
 
 }


footer{
    text-align: center; /* Texto de pie de pagina centrado*/
    margin-top: 10px;
    background-color: white;  
}



.burger-menu             /* Menu hamburgesa */
{ 
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 35px;
    padding: 5px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    
}

.iconos                    /* Iconos */
{
    color:#03264C;
    font-size: 2em;
}

.iconos:hover{
   color: #39b54a;
}
.imagenproducto                      /*Imagenes */
{    
    width: 90vw;
    padding: 10px;
    margin: 0 10px;
    display: block;
}

.footer-textos{
    padding: 20px;
       
}
.copi{
    text-align: left;
    margin-left: 100px;
}


.envio, .seguridad{
    margin-top: 20px;
}
.descripciones{
    display: none;
}

article:hover .descripciones{
        
    display: block;
    font-size: 20px;    /* achicamos la letra para que no se agrande tanto el cuadro, ver */
    transition: display 5s;
          
}

@media (min-width: 361px) {
   .descripciones{
       display: none;
   }
   .burger-menu {
    display:none;
}
.textodemenu {
    font-size: 13px;
    text-align: right;
}
       
    article{
        box-shadow: 0px 0px 10px rgb(100,100, 100 );
        max-width: 47%;
        margin: 0 10px;
        }
       .imagenproducto {                     /*Imagenes */
            width: 90%;
        }
       
     .productos{
         
        display: flex;
        flex-wrap: wrap ;
        flex: 1;
        justify-content: space-around;
        
        }

        .descripciones{
            display: block;
        }

  .navegador{
      display: flex;   
      justify-content: space-between;
      align-items: center;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
      
    }
    .nav-bar a{
        font-size: 50%;
        
    }

    .lista-left{
        display: flex;
        margin: 0 15px;
    }
    .lista-rigth{
        display: flex;
        margin: 0 15px;
    }
    article:hover {
        box-shadow: 0px 0px 20px rgb(100,100, 100 ); 
      
    }
}

@media (min-width:560px) {
    .nav-bar a{
        font-size: 70%;
        margin: 0 5px;
    }
    .textodemenu {
        font-size: 13px;
        text-align: right;
    }
    h3{
        font-size: 20px;
    }
    article:hover {
        box-shadow: 0px 0px 20px rgb(100,100, 100 ); 
      
    }
}


@media (min-width: 769px) {

    article{
        box-shadow: 0px 0px 10px rgb(100,100, 100 );
        max-width: 23%;
      
        }
       .imagenproducto {                     /*Imagenes */
            width: 90%;
        }
       
     .productos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        }

    .barracompleta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .textodemenu{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu {
        display:none;
    }
    .nav-bar {
    display: flex;
    justify-content: space-between;
    }

    .lista-left{
        display: flex;
        margin: 0 15px;
    }
    .lista-rigth{
        display: flex;
        margin: 0 15px;
    }

    .nav-bar a{
        font-size: 15px;
        margin: 0 5px;
    }

    .navegador{
        display: flex;   
        justify-content: space-between;
        align-items: center;
    }
    .textodemenu {
        font-size: 15px;
        text-align: right;
    }

    /* prueba de transiciones*/
    

    

    article:hover {
        box-shadow: 0px 0px 20px rgb(100,100, 100 ); 
      
    }

    .fa-truck{
        transform: rotate(0deg);
        transition: transform 0.5s;
    }
    .fa-truck:hover{
        transform: rotate(-90deg);
    }
    .footer-textos{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tarjeta, .envio, .seguridad{
        padding: 25px;
        max-width: 400px;
    }

    .envio, .seguridad{
        margin-top: 0;
    }

    h3{
        font-size: 20px;
    }

    
}

@media (min-width: 1200px) {
    .barracompleta, .nav-bar {
        max-width: 1200px;
        margin: auto;
    }
    .navegador{
        display: flex;   
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-bar a{
        font-size: 17px;
        margin: 0 5px;
    }
    .textodemenu {
        font-size: 17px;
        
    }
    .nav-bar{
        margin-top: 10px;
    }

    .footer-textos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        max-width: 1500px;
        margin: auto;
    }

    .tarjeta, .envio, .seguridad{
        padding: 25px;
    }
    
    
   
    
}







/*
Paleta de colores
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;

*/